.jumbotron {
    width: 100%;
    margin-top: 30px;
    background-color: black;
    padding: 40px;
    background-image: url("../images/grey_wash_wall.png"); 
    background-size: repeat;
    color: rgb(226, 220, 220);
    min-height: 600px;
    font-size: 20px;
    
}
button {
    padding: 50px;
    margin-top: 20px;
    /* width: 100%; */
    
    
}
h1{
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 100px;
}
h2 {
    text-align: right;
}
body {
    background-image: url("../images/kawaii-pokemon-wallpaper-14.jpg");
    background-size: repeat;
    font-family: 'Hind Siliguri', sans-serif;
}
#title_page {
    margin-left: 300px;
}
